defaults:
  - _self_
  - task: ppo_atari

experiment: default
device: cuda:0

hydra:
  run:
    dir: ./logs/${experiment}/${now:%Y.%m.%d}/${now:%H%M%S}_${hydra.job.override_dirname}
  job:
    chdir: true